@using WebApp.Models
@model PatientSectionModel

<section id="patients">
    <h2>Patients</h2>
    <ul>
        <li><strong>Total Patients:</strong> @Model.TotalPatients</li>
        <li><strong>Today New Patients:</strong> 0</li>
    </ul>
    <!-- Add more content as needed -->
</section>