@using WebApp.Models
@model DashboardModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@{
    Layout = "_Layout";
}

<style>

    body {
        font-family: 'Arial', sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
    }

    section {
        padding: 20px;
    }

    /* Add any additional styling for doctor cards as needed */
</style>

<section id="overview">
    <h2>Overview</h2>
    <p>Welcome to the Hospital Management Dashboard. Here, you can get a quick overview of the hospital's key metrics and activities.</p>
    <!-- Add more content as needed -->
</section>

<partial name="_AppointmentsSection" model="@Model.AppointmentSection" />
<partial name="_PatientsSection" model="@Model.PatientSection" />
<partial name="_DoctorsSection" />
<partial name="_ImagesSection" />

