@{
    Layout = "_Layout";
}

<div class="row">
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Clinic</th>
                <th scope="col">Code</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Dental</td>
                <td>001</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Laboratory</td>
                <td>002</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Radiology</td>
                <td>003</td>
            </tr>
        </tbody>
    </table>
</div>
