@using WebApp.Models;
@model PatientModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
}

<style>
    .form-group {
        margin-top: 20px;
    }
</style>
<div class="row">

    <h1>Edit Patient</h1>

    <form asp-action="UpdatePatient" asp-controller="Patient" method="post">

        <div class="form-row">

            <input asp-for="PatientId" />

            <div class="form-group col-md-6">
                <label asp-for="FullName"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="validation-message"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="MobileNo"></label>
                <input asp-for="MobileNo" class="form-control" />
                <span asp-validation-for="MobileNo" class="validation-message"></span>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Gender"></label>
            <select id="Gender" name="Gender" class="form-control">
                <option value="m">Male</option>
                <option value="f">Female</option>
            </select>
            <span asp-validation-for="Gender" class="validation-message"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Address"></label>
            <textarea class="form-control" asp-for="Address">
            </textarea>
            <span asp-validation-for="Address" class="validation-message"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="DateOfBirth"></label>
            <input class="form-control" asp-for="DateOfBirth" />
            <span asp-validation-for="DateOfBirth" class="validation-message"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="NationalityID"></label>
            <select id="NationalityID" name="NationalityID" class="form-control">
                <option>--Select--</option>
                <option value="1">India</option>
                <option value="2">US</option>
                <option value="3">UK</option>
            </select>
            <span asp-validation-for="NationalityID" class="validation-message"></span>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="AdharNo"></label>
                <input asp-for="AdharNo" class="form-control" />
                <span asp-validation-for="AdharNo" class="validation-message"></span>
            </div>
            <div class="form-group col-md-4">
                <label>
                    <input asp-for="IsActive" />
                    <label asp-for="IsActive"></label>
                </label>

            </div>
        </div>

        <button type="submit" class="btn btn-primary" style="margin-top:20px;">Update Patient</button>
    </form>
</div>