@{
    Layout = "_Layout";
}

<div class="row">
    <h1>Patients List  
        <a href="@Url.Action("AddPatient","Patient")" style="float:right;" class="btn btn-primary">Add Patient</a></h1>
    
</div>
<div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Mobile No</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td></td>
                <td>
                    <a href="#">View</a>
                    </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td></td>
                <td>
                    <a href="#">View</a>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td></td>
                <td>
                    <a href="#">View</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>